version: '3.7'

services:
    web:
        build:
            context: ./app
            dockerfile: development.Dockerfile
        command: python manage.py runserver 0.0.0.0:8000
        volumes:
            - ./app/src/:/usr/src/app/
        ports:
            - 8000:8000
        env_file:
            # Copy ./app/conf/.env.dev-example to ./app/conf/.env.dev
            - ./app/conf/.env.dev
        depends_on:
            - db
    db:
        build:
            context: ./db
            dockerfile: Dockerfile
        volumes:
            - postgres_data:/var/lib/postgresql/data/
        env_file:
            # Copy ./db/conf/.env.dev-example to ./db/conf/.env.dev
            - ./db/conf/.env.dev

volumes:
    # Persisting the data within the PostgreSQL instance to a Docker volume,
    # that binds to '/var/lib/postgresql/data/' directory in the container.
    postgres_data:
